<div class="row" style="margin-bottom:30px;">
  <div class="span4" id="mentioned_me"></div>
  <div class="span4" id="ive_mentioned"></div>
  <div class="span4" id="ive_retweeted"></div>
</div>
<div class="row">
  <div class="span8" id="conversation_breakdown"></div>
  <div class="span4">
    <div id="ignore_breakdown"></div>
    <div id="annoy_breakdown"></div>
  </div>
</div>
