<h4>{{title}}</h4>
{{#rows}}
  <div class="row-fluid {{#more}}more{{/more}}">
    <div class="span8">
      <a class="btn btn-primary" style="box-sizing:border-box; width: {{width}}%;">{{count}}</a>
    </div>
    <div class="span4">{{label}}</div>
  </div>
{{/rows}}
<a href="#" class="show_more">Show More</a>
<a href="#" class="show_less">Show Less</a>
